/*basic settings*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif; }

img {
  max-width: 100%; }

section {
  padding: 7% 0; }

.container {
  max-width: 1180px;
  width: 98%;
  margin: 0 auto; }

.social {
  display: flex;
  justify-content: center; }
  .social a {
    width: 30px;
    margin: 0 10px;
    opacity: 0.5; }

/** <header class="header"> **/
.header {
  background: url(../img/header/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 30px 0 7%; }
  .header__title {
    font-size: 50px;
    text-align: center;
    line-height: 1.3;
    margin-top: 60px; }

.name span {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 30px;
}

/** <section class="portfolio"> **/
.filters {
  text-align: center; }
  .filters li {
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px; }
    .filters li a {
      cursor: pointer; }

.active a {
  color: #f00; }

.products {
  display: flex;
  justify-content: space-around;
  flex-flow: row-reverse wrap-reverse; }
  .products li {
    max-width: 350px;
    margin: 60px 20px 0; }
  .products-overlay {
    position: relative; }
    .products-overlay::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0; }
    .products-overlay:hover::before {
      opacity: 0.8; }
    .products-overlay__description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0; }
      .products-overlay__description:hover {
        opacity: 1; }
      .products-overlay__description p {
        color: #fff;
        text-align: center;
        font-size: 22px;
        line-height: 1.3; }
  .products__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; }
  .products__btn {
    font-size: 13px;
    border: 1px solid #000000;
    padding: 10px 15px; }

/** <footer class="footer"> **/
.footer {
  background-color: #e3e6eb;
  padding: 30px 0; }

/** Hover ** */
@media (min-width: 990px) {
  .social a:hover {
    opacity: 1; }
  .products__btn:hover {
    border-radius: 30px; } }

/** Media ** */
@media (max-width: 992px) {
  section {
    padding: 10% 0; }
  .header {
    padding: 30px 0 10%; } }

@media (max-width: 575px) {
  section {
    padding: 15% 0; }
  .header {
    padding: 30px 0 15%; } }

@media (max-width: 400px) {
  .header__title {
    font-size: 38px; }
  .filters li {
    display: block; } }
